* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Inconsolata;
}

body {
	width: 100vw;
	height: 100vh;
}

img.goong-goong {
	position: absolute;
	width: 70vw;
	max-height: 80vh;
	height: auto;
	object-fit: contain;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.info {
	/* display: flex; */
	flex-direction: column;
	gap: 64px;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: none;
}

.info > div {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.info > div > *:not(.after-anim) {
	opacity: 0;
}

.info > div > .after-anim {
	opacity: 1;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% {  opacity: 1; }
}

.hint {
	margin: 32px;
	font-size: 2.5vh;
}
